<div class="container text-center">
    <div class="display-6">
        Dog's System
    </div>
    <div class="row m-3">
        <div class="col">
           <img src="https://images.dog.ceo/breeds/bouvier/n02106382_2105.jpg"
                width="200px"
                class="shadow rounded"
           />
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            Bouvier
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <button class="btn btn-primary">Novo Dog</button>
        </div>
    </div>
</div>
